.page {
	text-align: center;
	}
	article p,
	article {
		line-height: 2;
		font-weight: 300;
	}
	article h1 {
		font-size: 2rem;
		font-weight: 300;
	}
	article h2 {
		font-size: 1.8rem;
		font-weight: 400;
		margin-bottom: 3.5rem;
	}
	article h3 {
		font-size: 1.5rem;
		font-weight: 400;
	}
	article dt h3 {
		font-size: 1.1rem;
	}
	article .strong {
		font-size: 1rem;
		line-height: 2;
		font-weight: 300;
	}


.ruler-segment {
	position: relative;
	display: inline-block;
	width: 2.5rem;
	height: 3rem;
	border-width: 0;
	border-color: #ddd;
	}

	.ruler-segment > .tip,
	.ruler-segment > .label {
		position: absolute;
		box-sizing: border-box;
		width: 90%;
		margin: 0 auto;
		padding: 0.25rem;
	}

	.ruler-segment > .label {
		left: 0;
		right: 0;
		top: 100%;
	}

	.ruler-segment > .tip {
		left: 55%;
		bottom: 100%;
		font-size: 0.9rem;
		font-weight: 200;
		color: #c1c1c1;
	}

	.ruler-segment:before,
	.ruler-segment:after {
		content: '';
		display: block;

		position: absolute;
		left: 50%;
		right: auto;
		bottom: 0;

		border-color: inherit;
	}
	.ruler-segment:before {
		width: 0;
		height: 100%;
		border-width: 0 0 0 1px;

		-webkit-transition-property: -webkit-transform, color, background-color, border-color, height, top, left, bottom, right;
		        transition-property:         transform, color, background-color, border-color, height, top, left, bottom, right;
	}
	.ruler-segment:after {
		width: 100%;
		height: 1px;
		border-width: 0 0 1px;
	}
	.ruler-segment.hide-chief-scale-line:before {
		content: none;
	}
	.ruler-segment:hover {
		z-index: 2;
		/* background-color: rgba(204, 162, 93, 0.16); */
		/* background-image:
			linear-gradient(to left, transparent 50%, rgba(204, 162, 93, 0.16) 0%),
			radial-gradient(50px at 50% 100%, rgba(204, 162, 93, 0.16), transparent)
		; */
		background-image: linear-gradient(to right, transparent 0, rgba(204, 162, 93, 0.2) 50%, transparent 50.1%);
	}
	.ruler-segment:hover:before {
		border-left-width: 3px;
		border-color: #cca25d;
		margin-left: -1px;
		margin-right: auto;

		-webkit-animation: flickering 1.5s infinite;
				animation: flickering 1.5s infinite;
	}

	.ruler-segment.empty-content {}
		.ruler-segment.empty-content > .label {
			opacity: 0.16;
		}
		.ruler-segment.empty-content:hover {
			z-index: 0;
			background-image: none;
		}
		.ruler-segment.empty-content:hover:before {
			border-left-width: 1px;
			border-color: inherit;
			margin-left: 0;
			margin-right: auto;

			-webkit-animation: none;
					animation: none;
		}



	.ruler-segment > i {
		display: none;
		width: 0;
		height: 50%;

		position: absolute;
		margin-left: 50%;
		bottom: 0;

		border-width: 0 0 0 1px;
		border-color: inherit;
		}
		.ruler-subdivision-4 .ruler-segment > i:nth-of-type(1),
		       .subdivision-4.ruler-segment > i:nth-of-type(1) {
			display: block;
			left: 25%;
		}
		.ruler-subdivision-4 .ruler-segment > i:nth-of-type(2),
		       .subdivision-4.ruler-segment > i:nth-of-type(2) {
			display: block;
			left: 50%;
		}
		.ruler-subdivision-4 .ruler-segment > i:nth-of-type(3),
		       .subdivision-4.ruler-segment > i:nth-of-type(3) {
			display: block;
			left: 75%;
		}

		.ruler-subdivision-5 .ruler-segment > i:nth-of-type(1),
		       .subdivision-5.ruler-segment > i:nth-of-type(1) {
			display: block;
			left: 20%;
		}
		.ruler-subdivision-5 .ruler-segment > i:nth-of-type(2),
		       .subdivision-5.ruler-segment > i:nth-of-type(2) {
			display: block;
			left: 40%;
		}
		.ruler-subdivision-5 .ruler-segment > i:nth-of-type(3),
		       .subdivision-5.ruler-segment > i:nth-of-type(3) {
			display: block;
			left: 60%;
		}
		.ruler-subdivision-5 .ruler-segment > i:nth-of-type(4),
		       .subdivision-5.ruler-segment > i:nth-of-type(4) {
			display: block;
			left: 80%;
		}

	.ruler-subdivisions-at-leftside .ruler-segment {}
	       .subdivisions-at-leftside.ruler-segment {}

		.ruler-subdivisions-at-leftside .ruler-segment:before,
		.ruler-subdivisions-at-leftside .ruler-segment:after,
		       .subdivisions-at-leftside.ruler-segment:before,
		       .subdivisions-at-leftside.ruler-segment:after {
			right: 50%;
			left: auto;
			}
			.ruler-subdivisions-at-leftside .ruler-segment:hover:before,
			.ruler-subdivisions-at-leftside .ruler-segment:hover:after,
			       .subdivisions-at-leftside.ruler-segment:hover:before,
			       .subdivisions-at-leftside.ruler-segment:hover:after {
				right: 50%;
				left: auto;
				margin-left: auto;
				margin-right: -1px;
			}
			.ruler-subdivisions-at-leftside .ruler-segment.empty-content:hover:before,
			.ruler-subdivisions-at-leftside .ruler-segment.empty-content:hover:after,
			       .subdivisions-at-leftside.ruler-segment.empty-content:hover:before,
			       .subdivisions-at-leftside.ruler-segment.empty-content:hover:after {
				right: 50%;
				left: auto;
				margin-left: auto;
				margin-right: 0;
			}
		.ruler-subdivisions-at-leftside .ruler-segment > i,
		       .subdivisions-at-leftside.ruler-segment > i {
			margin-right: 50%;
		}
		.ruler-subdivisions-at-leftside.ruler-subdivision-4 .ruler-segment > i:nth-of-type(1),
		.ruler-subdivisions-at-leftside       .subdivision-4.ruler-segment > i:nth-of-type(1),
		.ruler-subdivision-4       .subdivisions-at-leftside.ruler-segment > i:nth-of-type(1),
		             .subdivisions-at-leftside.subdivision-4.ruler-segment > i:nth-of-type(1) {
			left: auto;
			right: 25%;
		}
		.ruler-subdivisions-at-leftside.ruler-subdivision-4 .ruler-segment > i:nth-of-type(2),
		.ruler-subdivisions-at-leftside       .subdivision-4.ruler-segment > i:nth-of-type(2),
		.ruler-subdivision-4       .subdivisions-at-leftside.ruler-segment > i:nth-of-type(2),
		             .subdivisions-at-leftside.subdivision-4.ruler-segment > i:nth-of-type(2) {
			left: auto;
			right: 50%;
		}
		.ruler-subdivisions-at-leftside.ruler-subdivision-4 .ruler-segment > i:nth-of-type(3),
		.ruler-subdivisions-at-leftside       .subdivision-4.ruler-segment > i:nth-of-type(3),
		.ruler-subdivision-4       .subdivisions-at-leftside.ruler-segment > i:nth-of-type(3),
		             .subdivisions-at-leftside.subdivision-4.ruler-segment > i:nth-of-type(3) {
			left: auto;
			right: 75%;
		}

		.ruler-subdivisions-at-leftside.ruler-subdivision-5 .ruler-segment > i:nth-of-type(1),
		.ruler-subdivisions-at-leftside       .subdivision-5.ruler-segment > i:nth-of-type(1),
		.ruler-subdivision-5       .subdivisions-at-leftside.ruler-segment > i:nth-of-type(1),
		             .subdivisions-at-leftside.subdivision-5.ruler-segment > i:nth-of-type(1) {
			left: auto;
			right: 20%;
		}
		.ruler-subdivisions-at-leftside.ruler-subdivision-5 .ruler-segment > i:nth-of-type(2),
		.ruler-subdivisions-at-leftside       .subdivision-5.ruler-segment > i:nth-of-type(2),
		.ruler-subdivision-5       .subdivisions-at-leftside.ruler-segment > i:nth-of-type(2),
		             .subdivisions-at-leftside.subdivision-5.ruler-segment > i:nth-of-type(2) {
			left: auto;
			right: 40%;
		}
		.ruler-subdivisions-at-leftside.ruler-subdivision-5 .ruler-segment > i:nth-of-type(3),
		.ruler-subdivisions-at-leftside       .subdivision-5.ruler-segment > i:nth-of-type(3),
		.ruler-subdivision-5       .subdivisions-at-leftside.ruler-segment > i:nth-of-type(3),
		             .subdivisions-at-leftside.subdivision-5.ruler-segment > i:nth-of-type(3) {
			left: auto;
			right: 60%;
		}
		.ruler-subdivisions-at-leftside.ruler-subdivision-5 .ruler-segment > i:nth-of-type(4),
		.ruler-subdivisions-at-leftside       .subdivision-5.ruler-segment > i:nth-of-type(4),
		.ruler-subdivision-5       .subdivisions-at-leftside.ruler-segment > i:nth-of-type(4),
		             .subdivisions-at-leftside.subdivision-5.ruler-segment > i:nth-of-type(4) {
			left: auto;
			right: 80%;
		}


.chief-block {
	margin-bottom: 4rem;
	}

	.chief-block > .width-wrap {
		padding: 0 2.5rem;
		box-sizing: border-box;
	}

	.subject-title {
		position: relative;
		height: 10rem;
		margin: 6rem auto 1rem;
		}
		.subject-title h1 {
			text-indent: -3000px;
			opacity: 0;
		}
		.subject-title .company-logo {
			width: 8rem;
			height: 8rem;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			background-size: 100%;
		}
	@media only screen and (max-width: 960px) {
		.subject-title {
			margin-top: 4rem;
		}
	}



	.company-intro {
		line-height: 2;
		color: #2f3133;
		}
		.company-intro .columns {
			position: relative;
			margin: 3rem auto;
			}

			.company-intro .columns .col {
				text-align: center;
			}

			.company-intro .columns .col-1,
			.company-intro .columns .col-3 {
				width: 33.3%;
			}

			.company-intro .columns .col-2 {
				width: 33.4%;
			}

			.company-intro .columns .col > .content {
				margin: 0 13%;
				text-align: left;
			}
			.company-intro .columns .col-1 > .content {
				margin-left: 0;
			}
			.company-intro .columns .col-3 > .content {
				margin-right: 0;
				text-align: center;
			}
			.company-intro .columns .col dt {
				margin-bottom: 1rem;
				color: #2f3133;
			}
			.company-intro .columns .col dd {
				color: #666;
			}

			@media only screen and (max-width: 1080px) {
				.company-intro .columns .col > .content {
					margin-left: 8.5%;
					margin-right: 8.5%;
				}
				.company-intro .columns .col-1 > .content {
					margin-right: 7%;
				}
				.company-intro .columns .col-3 > .content {
					margin-left: 7%;
				}
			}

			@media only screen and (max-width: 960px) {
				.company-intro .columns .col {
					display: block;
					width: 100%;
					text-align: left;
				}
				.company-intro .columns .col > .content {
					margin: 0;
				}
				.company-intro .columns .col dt h3,
				.company-intro .columns .col dd {
					text-align: left;
				}
				.company-intro .columns .col dt {
					margin: 2.5rem auto 0rem;
				}

				.company-intro .columns > hr {
					display: none;
				}
			}


	.lead-team {
		}
		.lead-team .columns.people {
			margin: 5rem auto;
		}
		.lead-team .columns.people > .col > .content {
			display: block;
			width: auto;
			margin: 0;
		}
		.lead-team .columns.people dt {
			padding: 12rem 1rem 1rem;
		}
		.lead-team .columns.people dt .illustrate {
			width: 10rem;
			height: 10rem;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 0.5rem;
		}
		.lead-team .columns.people dt .illustrate-look {
			border-radius: 1000px;
			background-size: cover;
		}
		.lead-team .columns.people dd {
			line-height: 2.2;
			text-align: left;
			/* font-weight: 300; */
		}
		.lead-team .columns.people > .col-1 > .content {
			margin-right: 12%;
		}
		.lead-team .columns.people > .col-2 > .content {
			margin-left: 12%;
		}

	@media only screen and (max-width: 960px) {
		.lead-team h2 {
			margin-bottom: 1rem;
		}
		.lead-team .columns.people {
			margin-top: 3rem;
		}
	}




	.company-events {}

		.company-events .fm-style-timeline {
			position: relative;
			display: block;
			max-width: 45rem;
			width: 100%;
			margin: 8rem auto;
		}
		@media only screen and (max-width: 768px) {
			.company-events .fm-style-timeline {
				margin-bottom: 1rem;
			}
			article .company-events + hr {
				margin-top: 1rem;
			}
		}

		.fm-style-timeline .fm-niddle {
			z-index: 3;
			position: absolute;
			left: 50%;
			margin: 0 0 0 -2px;
			width: 0;
			top: -4rem;
			height: 13.5rem;
			background-color: #cca25d;
		}
		.fm-style-timeline .fm-niddle:before {
			content: '';
			position: absolute;
			width: 0.4rem;
			height: 0.4rem;
			left: -0.2rem;
			top: -0.9rem;
			border-radius: 1000px;
			background-color: inherit;
			/* -webkit-transform: translateX(0.5px);
			transform: translateX(0.5px); */
		}
		.fm-style-timeline .fm-niddle:after {
			content: '';
			position: absolute;
			width: 1px;
			height: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			background-color: inherit;
			-webkit-transform: translateX(-0.5px);
			        transform: translateX(-0.5px);
			   -moz-transform: translateX(0);
		}
		.fm-style-timeline .fm-niddle > .label {
			display: block;
			text-align: center;
			position: absolute;
			width: 6rem;
			left: -3rem;
			bottom: 100%;
			margin-bottom: 0.75rem;
			font-size: 1.1rem;
			color: #cca25d;
		}

		.fm-style-timeline .graphic-slides {
			height: 8rem;
			z-index: 1;
			}

			.fm-style-timeline .graphic-slides .swiper-slide {
				width: 10%;
				white-space: nowrap;
			}
			.fm-style-timeline .graphic-slides .swiper-slide:before {
				content: '';
				display: inline-block;
				vertical-align: bottom;
				width: 0;
				height: 100%;
			}

			.fm-style-timeline .graphic-slides .swiper-slide .ruler-segment {
				width: 100%;
				/* position: absolute; */
				vertical-align: bottom;
				right: 0;
				bottom: 2rem;
				cursor: pointer;
			}


		.fm-style-timeline .text-slides {
			height: 12rem;
			}

			.fm-style-timeline .text-slides .swiper-slide {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				opacity: 0;
			}
			.fm-style-timeline .text-slides .swiper-slide.active {
				opacity: 1;
			}

			.fm-style-timeline .text-slides .swiper-slide:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 0;
				height: 100%;
			}
			.fm-style-timeline .text-slides dt {
				width: 0;
				display: inline-block;
				overflow: hidden;
				visibility: hidden;
			}
			.fm-style-timeline .text-slides dd {
				font-size: 1.4em;
				display: inline-block;
				vertical-align: middle;
			}


	.company-qualification {}

		.company-qualification h2 {
			margin-bottom: 2rem;
		}

		.company-qualification .columns.certificates {
			margin: 1rem auto 4rem;
		}
		.company-qualification .columns.certificates dt {
			height: 0;
			overflow: hidden;
			opacity: 0;
			text-indent: -3000px;
		}
		.company-qualification .columns.certificates dd {
			padding: 0.9rem;
		}
		.company-qualification .columns.certificates img {
			width: 90%;
			height: auto;
			max-width: 380px;
			border-width: 1px;
			border-color: #cca25d;
			box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.219);
		}
		.company-qualification .columns.certificates .col-1 dd {
			text-align: right;
			direction: rtl;
		}
		.company-qualification .columns.certificates .col-2 dd {
			text-align: left;
			direction: ltr;
		}

		.company-qualification .team-members {
			margin: 2.5rem auto 4rem;
			font-size: 1rem;
			}

			.company-qualification .team-members > table {
				display: inline-table;
				width: 50%;
				color: #666;
			}

			.company-qualification .team-members > table + table {
				margin-left: -1px;
			}

			.company-qualification .team-members > table tr,
			.company-qualification .team-members > table {
				border-width: 1px;
				border-color: #ddd;
			}

			.company-qualification .team-members > table tr {
				height: 2em;
				line-height: 1.95em;
			}

			.company-qualification .team-members > table thead {
				background-color: rgba(0, 0, 0, 0.045);
			}

			.company-qualification .team-members > table thead td {
				font-size: 0.95em;
				font-weight: 300;
			}

			.company-qualification .team-members > table tbody td {
				font-size: 0.8em;
				font-weight: 300;
			}

			.company-qualification .team-members > table td:nth-of-type(1) {
				width: 25%;
			}
			.company-qualification .team-members > table td:nth-of-type(2) {
				width: 35%;
			}
			.company-qualification .team-members > table td:nth-of-type(3) {
			}

			@media only screen and (max-width: 1080px) {
				.company-qualification h2 {
					margin-bottom: 1rem;
				}
				.company-qualification .columns.certificates {
					margin: 0 auto;
				}
				.company-qualification h3 {
					margin: 1rem auto;
				}
				.company-qualification .team-members {
					font-size: 0.85rem;
					margin: 1rem auto 2rem;
				}
			}
			@media only screen and (max-width: 880px) {
				.company-qualification .team-members > table {
					display: table;
					margin-bottom: -1px;
					width: 85%;
					margin-left: auto;
					margin-right: auto;
				}
				.company-qualification .team-members > table + table {
					margin-left: auto;
					margin-right: auto;
				}
				.company-qualification .team-members {
					font-size: 1rem;
				}
			}
