.page {
	text-align: center;
	}
	.page article h1 {
		font-size: 1.8rem;
		font-weight: 300;
	}
	.page article h2 {
		font-size: 1.7rem;
		font-weight: 400;
	}


.chief-block {
	margin-bottom: 4rem;
	}

	.chief-block .subject-title {
		position: relative;
		height: 10rem;
		margin: 6rem auto 2rem;
		}
		.chief-block .subject-title h1 {
			text-indent: -3000px;
			opacity: 0;
		}
		.chief-block .subject-title .company-logo {
			width: 8rem;
			height: 8rem;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			background-size: 100%;
		}
