.page {
	text-align: center;
	}
	.width-wrap {
		padding: 0 2.5rem;
		box-sizing: border-box;
	}

	article p,
	article {
		line-height: 2;
		font-weight: 300;
	}
	article h1 {
		font-size: 1.7rem;
		font-weight: 400;
	}
	article h2 {
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 3.5rem;
		margin-top: 7rem;
	}
	article h3 {
		font-size: 1.5rem;
		font-weight: 400;
	}
	article dt h3 {
		font-size: 1rem;
	}
	article .strong {
		font-size: 1rem;
		line-height: 2;
		font-weight: 300;
		color: #666;
	}

	article .icon {
		width: 3.5rem;
		height: 3.5rem;
		line-height: 3.45rem;
		font-size: 3rem;
		margin: 0;
		}
		article .icon .iconfont {
			margin: 0;
			font-size: inherit;
			color: #cca25d;
		}

		article h2 > .icon {
			display: block;
			margin: 0.8rem auto;
		}



.i-tree-hierarchy-chart {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	overflow: visible;
	white-space: nowrap;
	}

	.i-tree-hierarchy-chart > li {
		list-style: none;
	}

	.i-tree-hierarchy-chart > .node,
	.i-tree-hierarchy-chart {
		padding-top: 2rem!important;
		}
		.i-tree-hierarchy-chart > .node .tree-leaf-dot {
			top: 2rem!important;
		}
		.i-tree-hierarchy-chart > .node:after,
		.i-tree-hierarchy-chart:after {
			height: 2rem!important;
		}

		.i-tree-hierarchy-chart > .node .tree-leaf-dot,
		.i-tree-hierarchy-chart > .node:after,
		.i-tree-hierarchy-chart > .node:before,
		.i-tree-hierarchy-chart:after,
		.i-tree-hierarchy-chart:before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			background-color: #cca25d;
		}


	.i-tree-hierarchy-chart:before {
		width: 0.45rem;
		height: 0.45rem;
		border-radius: 1000px;
		top: -0.225rem;
		margin-left: -0.225rem;
		}

		.i-tree-hierarchy-chart > .node:after,
		.i-tree-hierarchy-chart:after {
			width: 1px;
			top: 0;
			margin-left: -0.5px;
		}

	.i-tree-hierarchy-chart > .node {
		display: inline-block;
		box-sizing: border-box;
		position: relative;
		margin: 0;
		width: 100%;
		padding: 1rem;
		}
		.i-tree-hierarchy-chart.branches-count-2 > .node {
			width: 50%;
		}
		.i-tree-hierarchy-chart.branches-count-3 > .node {
			width: 33.33%;
		}
		.i-tree-hierarchy-chart.branches-count-3 > .node:nth-of-type(2) {
			width: 33.34%;
		}
		.i-tree-hierarchy-chart.branches-count-4 > .node {
			width: 25%;
		}
		.i-tree-hierarchy-chart.branches-count-5 > .node {
			width: 20%;
		}

		.i-tree-hierarchy-chart > .node:before {
			height: 1px;
			left: 0;
			right: 0;
			top: 0;
			margin: 0;
		}
		.i-tree-hierarchy-chart > .node:first-of-type:before {
			left: 50%;
		}
		.i-tree-hierarchy-chart > .node:last-of-type:before {
			right: 50%;
		}

		.i-tree-hierarchy-chart > .node .tree-leaf-dot {
			width: 0.35rem;
			height: 0.35rem;
			border-radius: 1000px;
			margin: -0.175rem;
		}





.platform-advantage h1 {
	margin: 8rem auto 2rem;
	}

	.platform-advantage .abstract p {
		color: #2f3133;
	}

	.advantage-points .icon {
		display: block;
		margin: 0.5rem auto 1rem;
	}

	.advantage-points .i-tree-hierarchy-chart {
		margin: 3.5rem auto;
	}


.advantage-2 {}
	.dtfunds-utilities {
	}
	.dtfunds-utilities > .columns .col >  .label {
		color: initial;
		font-size: 1rem;
	}
	.dtfunds-utilities > .columns .col >  .illustrate {
		position: relative;
		width: 10rem;
		height: 10rem;
		margin: 1rem auto;
	}
	.dtfunds-utilities > .columns .col >  .illustrate .illustrate-look {
		background-size: contain;
	}
	.dtfunds-utilities > .columns > hr {
		top: 5rem;
		bottom: 2.5rem;
	}





.company-intro {
	line-height: 2;
	color: #2f3133;
	}
	.company-intro .columns {
		position: relative;
		margin: 3rem auto;
		}

		.company-intro .columns .col {
			text-align: center;
		}

		.company-intro .columns .col-1,
		.company-intro .columns .col-3 {
			width: 33.3%;
		}

		.company-intro .columns .col-2 {
			width: 33.4%;
		}

		.company-intro .columns .col > .content {
			margin: 0 13%;
			text-align: left;
		}
		.company-intro .columns .col-1 > .content {
			margin-left: 0;
		}
		.company-intro .columns .col-3 > .content {
			margin-right: 0;
			text-align: center;
		}
		.company-intro .columns .col dt {
			margin-bottom: 1rem;
			color: #2f3133;
		}
		.company-intro .columns .col dd {
			color: #666;
		}

		@media only screen and (max-width: 1080px) {
			.company-intro .columns .col > .content {
				margin-left: 8.5%;
				margin-right: 8.5%;
			}
			.company-intro .columns .col-1 > .content {
				margin-right: 7%;
			}
			.company-intro .columns .col-3 > .content {
				margin-left: 7%;
			}
		}

		@media only screen and (max-width: 960px) {
			.company-intro .columns .col {
				display: block;
				width: 100%;
				text-align: left;
			}
			.company-intro .columns .col > .content {
				margin: 0;
			}
			.company-intro .columns .col dt h3,
			.company-intro .columns .col dd {
				text-align: left;
			}
			.company-intro .columns .col dt {
				margin: 2.5rem auto 0rem;
			}

			.company-intro .columns > hr {
				display: none;
			}
		}



.platform-features {}

	.platform-features h3 {
		margin-bottom: 2rem;
	}

	.platform-features {
		margin: 2.5rem auto 4rem;
		font-size: 1rem;
		}

		.platform-features > table {
			display: inline-table;
			width: 50%;
			color: #666;
		}

		.platform-features > table + table {
			margin-left: -1px;
		}

		.platform-features > table tr,
		.platform-features > table {
			border-width: 1px;
			border-color: #ddd;
		}

		.platform-features > table tr {
			height: 2em;
			line-height: 1.95em;
		}

		.platform-features > table thead {
			background-color: rgba(0, 0, 0, 0.045);
		}

		.platform-features > table thead td {
			font-size: 0.95em;
			font-weight: 300;
		}

		.platform-features > table tbody td {
			font-size: 0.8em;
			font-weight: 300;
		}

		.platform-features > table td:nth-of-type(1) {
			width: 25%;
		}
		.platform-features > table td:nth-of-type(2) {
			width: 35%;
		}
		.platform-features > table td:nth-of-type(3) {
		}

		@media only screen and (max-width: 1080px) {
			.platform-features h2 {
				margin-bottom: 1rem;
			}
			.platform-features .columns.certificates {
				margin: 0 auto;
			}
			.platform-features h3 {
				margin: 1rem auto;
			}
			.platform-features {
				font-size: 0.85rem;
				margin: 1rem auto 2rem;
			}
		}
		@media only screen and (max-width: 880px) {
			.platform-features > table {
				display: table;
				margin-bottom: -1px;
				width: 85%;
				margin-left: auto;
				margin-right: auto;
			}
			.platform-features > table + table {
				margin-left: auto;
				margin-right: auto;
			}
			.platform-features {
				font-size: 1rem;
			}
		}
