.page-chief-section.section-first-fold > .bg-set .bg.bg-1 {
	background-image: url(../../images/pages/index/page-section-01-bg-01.jpg);
}
.page-chief-section.section-first-fold > .bg-set .bg.bg-2 {
	background-image: url(../../images/pages/index/page-section-01-bg-02.jpg);
}
.page-chief-section.section-first-fold > .bg-set .bg.bg-3 {
	background-image: url(../../images/pages/index/page-section-01-bg-03.jpg);
}
