.width-wrap {
	min-width: 728px;
}
.page-chief-section > .content > .row {
	position: absolute;
	left: 8%;
	right: 8%;
	margin: auto;
	}
	.page-chief-section > .content > .row .width-wrap {
		min-width: 574px;
		height: 100%;
	}
	.page-chief-section > .content > .row.illustrate-block {
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 0;
	}
	.page-chief-section > .content > .row.illustrate-block .width-wrap {
		height: 100%;
		max-width: none;
	}
	.qrcode .qrcode-image {
		width: 100%;
		height: 100%;
		margin: 0;
	}



.section-first-fold {
	}

	.section-first-fold > .bg-set .bg.bg-1 {
		background-position: 40% 100%;
		background-image: url(../../images/pages/index/page-section-01-bg-01.jpg);
	}
	.section-first-fold > .bg-set .bg.bg-2 {
		background-image: url(../../images/pages/index/page-section-01-bg-02.jpg);
	}
	.section-first-fold > .bg-set .bg.bg-3 {
		background-position: 70% 80%;
		background-image: url(../../images/pages/index/page-section-01-bg-03.jpg);
	}


	.section-first-fold > .content {
		text-align: center;
		color: white;
	}



	.section-first-fold > .content .row.slogan-block {
		top: 15%;
		height: 36%;
		min-height: 220px;
	}
	.section-first-fold > .content .row.call-to-action-button-block {
		top: 52%;
		height: 2rem;
	}
	.section-first-fold > .content .row.call-to-action-qrcode-block {
		bottom: 15%;
	}


	.section-first-fold > .content .first-fold-title,
	.section-first-fold > .content .slogan,
	.section-first-fold > .content .subtitle {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		}
		.section-first-fold > .content .first-fold-title {
			top: 5%;
		}
		.section-first-fold > .content .slogan {
			top: 38%;
		}
		.section-first-fold > .content .subtitle {
			top: 77%;
		}


	.section-first-fold > .content .row.call-to-action-button-block  button,
	.section-first-fold > .content .row.call-to-action-button-block .button {
		margin: 0 auto;
		width: 8.8rem;
	}


	.section-first-fold > .content .first-fold-title {
		position: relative;
		width: 70%;
		max-width: 25rem;
		height: 2.1rem;
		overflow: hidden;
		white-space: nowrap;
		text-indent: 4000px;
		border-color: #cca25d;
		/* margin: 0 auto; */

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-image: url(../../images/company-brand/brand-first-fold-title.png);
		}

		.section-first-fold > .content .first-fold-title:after,
		.section-first-fold > .content .first-fold-title:before {
			content: '';
			border-color: inherit;
			border-width: 1px 0 0 0;
			display: block;
			width: auto;
			height: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			opacity: 0.4;
			}
			.section-first-fold > .content .first-fold-title:before {
				left: 0;
				right: 50%;
				margin-right: 4rem;
			}
			.section-first-fold > .content .first-fold-title:after {
				left: 50%;
				right: 0;
				margin-left: 4rem;
			}


	.section-first-fold > .content .slogan {
		font-weight: 700;
		font-size: 3rem;
		/* margin: 3rem auto 2.5rem; */
	}
	.section-first-fold > .content .subtitle {
		font-size: 1.4rem;
	}
	.section-first-fold > .content .subtitle span {
		display: inline-block;
	}


	.section-first-fold > .content .row.call-to-action-qrcode-block .qrcode {
		width: 4.2rem;
		height: 4.2rem;
		margin: 0 auto 1rem;
	}


	@media only screen and (max-width: 980px) {
		.section-first-fold > .content .row.call-to-action-button-block {
			top: 57%;
		}
		.section-first-fold > .content .subtitle span {
			display: block;
		}
	}

	@media only screen and (max-height: 720px) {
		.section-first-fold > .content .row.call-to-action-button-block {
			top: 63%;
			bottom: 15%;
		}
		.section-first-fold > .content .row.call-to-action-qrcode-block {
			bottom: 5%;
			left: 1rem;
		}
		.section-first-fold > .content .row.call-to-action-qrcode-block .width-wrap {
			min-width: 0;
			margin: 0;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.section-first-fold > .content .row.call-to-action-qrcode-block .qrcode-block > .content {
			margin: 0;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 5rem;
		}
		.section-first-fold > .content .row.call-to-action-qrcode-block .figcaption .less-important-segment {
			display: none;
		}
	}


.section-financing {
	}

	.section-financing .row.features-block {
		height: 50%;
		min-height: 270px;
		max-height: 450px;
		top: 0;
		bottom: 0;
		font-size: 1rem;
		}

	.section-financing .f-list.features .f-item {
		left: 8%;
		position: absolute;
		padding: 1em 2em 1em 6.4em;
		margin: 0;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		}
		.section-financing .f-list.features .f-item *,
		.section-financing .f-list.features .f-item {
			transition-property: background, width, height, max-width, min-width, max-height, min-height, color, opacity, visibility, transform;
		}
		.section-financing .f-list.features .f-item.f-item-1 {
			top: 0;
		}
		.section-financing .f-list.features .f-item.f-item-2 {
			top: 40%;
		}
		.section-financing .f-list.features .f-item.f-item-3 {
			top: 80%;
		}
		.section-financing .f-list.features .f-item p {
			font-weight: 200;
			font-size: 90%;
			line-height: 1.8;
			color: #848484;
		}
		.section-financing .f-list.features .f-item p .label {
			display: block;
			font-size: 150%;
			color: black;
			cursor: text;
		}

		.section-financing .f-list.features .f-item .icon {
			position: absolute;
			left: 0;
			top: 0.6em;
			width: 4.5em;
			height: 4.5em;
			font-size: 1em;
			line-height: 4.5em;
		}
		.section-financing .f-list.features .icon .icon-bg {
			font-size: 4.5em;
			color: #cca25d;
		}
		.section-financing .f-list.features .icon .icon-face-1,
		.section-financing .f-list.features .icon .icon-face-2 {
			color: white;
			font-size: 2.2em;
		}


	.section-financing .illustrate.device-0 .illustrate-look {
		background-position: right bottom;
		background-size: contain;
		background-image: url(../../images/pages/index/page-section-1-device-0.jpg);
	}

	@media only screen and (max-width: 1440px) {
		.section-financing .illustrate.device-0 .illustrate-look {
			background-position: 120% bottom;
		}
	}
	@media only screen and (max-width: 768px) {
		.section-financing .f-list.features .f-item {
			left: 0;
		}
	}

	@media only screen and (max-height: 768px) {
		.section-financing .f-list.features .f-item {
			font-size: 80%;
			padding-left: 6em;
		}
		.section-financing .f-list.features .icon .icon-bg {
			font-size: 4.5em;
		}
	}
