article h1 {
	margin: 3rem auto;
}



.section-first-fold {
	text-align: center;
	}

	.section-first-fold .row,
	.section-first-fold h1 {
		position: absolute;
		left: 8%;
		right: 8%;
		margin: 0 auto;
	}

	.section-first-fold .details-block .width-wrap {
		min-width: 5rem;
		height: 100%;
		max-width: 800px;
	}

	.section-first-fold .abstract-block .features {
		padding: 0 1rem;
		overflow: hidden;
		}
		.section-first-fold .abstract-block .features > li {
			position: relative;
			display: inline-block;
			margin: 0 1rem 0.75rem;
		}
		.section-first-fold .abstract-block .features > li:before {
			content: '\2022';
			position: absolute;
			left: -2rem;
			width: 2rem;
			top: 0;
			bottom: 0;
			text-align: center;
		}

		.section-first-fold .abstract-block .features > br + li:before,
		.section-first-fold .abstract-block .features > li:first-of-type:before,
		.section-first-fold .abstract-block .features > li:first-child:before {
			content: none;
		}

	.section-first-fold .details-block .swiper-container.graphic-slides {
		perspective: 10rem;
		transform-style: preserve-3d;
		width: 100%;
		}
		.section-first-fold .details-block .graphic-slides .swiper-slide {
			position: relative;
			width: 10rem;
			height: 100%;
			z-index: 1;
			cursor: pointer;
		}
		.section-first-fold .details-block .graphic-slides .swiper-slide[data-index-distance-to-active-one="-1"],
		.section-first-fold .details-block .graphic-slides .swiper-slide[data-index-distance-to-active-one="1"] {
			z-index: 2;
		}
		.section-first-fold .details-block .graphic-slides .swiper-slide[data-index-distance-to-active-one="0"] {
			z-index: 3;
		}
		/*
		.section-first-fold .details-block .graphic-slides .swiper-slide.swiper-slide-prev,
		.section-first-fold .details-block .graphic-slides .swiper-slide.swiper-slide-next {
			z-index: 2;
		}
		.section-first-fold .details-block .graphic-slides .swiper-slide.swiper-slide-active {
			z-index: 3;
		}
		*/
		.section-first-fold .details-block .graphic-slides .swiper-slide .icon {
			vertical-align: top;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			border-radius: 50%;
			background-color: #2f3133;
			box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);

			-webkit-transform: scale(0.5, 0.5);
					transform: scale(0.5, 0.5);
			opacity: 0.219;
			-webkit-transition-timing-function: ease-out;
			        transition-timing-function: ease-out;
			-webkit-transition-delay: 0.1s;
			        transition-delay: 0.1s;
		}
		/* .section-first-fold .details-block .graphic-slides .swiper-slide.swiper-slide-prev .icon, */
		.section-first-fold .details-block .graphic-slides .swiper-slide[data-index-distance-to-active-one="-1"] .icon {
			-webkit-transition-delay: 0.15s;
			        transition-delay: 0.15s;
			-webkit-transform: translate3d(-12.5%, 0, 0) scale(0.75, 0.75);
					transform: translate3d(-12.5%, 0, 0) scale(0.75, 0.75);
			opacity: 0.51;
		}
		/* .section-first-fold .details-block .graphic-slides .swiper-slide.swiper-slide-next .icon, */
		.section-first-fold .details-block .graphic-slides .swiper-slide[data-index-distance-to-active-one="1"] .icon {
			-webkit-transition-delay: 0.25s;
			        transition-delay: 0.25s;
			-webkit-transform: translate3d( 12.5%, 0, 0) scale(0.75, 0.75);
					transform: translate3d( 12.5%, 0, 0) scale(0.75, 0.75);
			opacity: 0.51;
		}
		/* .section-first-fold .details-block .graphic-slides .swiper-slide.swiper-slide-active .icon, */
		.section-first-fold .details-block .graphic-slides .swiper-slide[data-index-distance-to-active-one="0"] .icon {
			-webkit-transform: scale(1, 1);
					transform: scale(1, 1);
			opacity: 1;
			-webkit-transition-delay: 0.2s;
			        transition-delay: 0.2s;
		}
		.section-first-fold .details-block .graphic-slides .swiper-slide .icon .iconfont {
			font-size: inherit;
			color: #cca25d;
			margin: 0;
		}


		.section-first-fold .details-block .graphic-slides .swiper-pagination.swiper-pagination-custom,
		.section-first-fold .details-block .explaination-slides {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.section-first-fold .details-block .graphic-slides .swiper-pagination .swiper-pagination-item,
		.section-first-fold .details-block .explaination-slides .swiper-slide {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0;
			z-index: 0;
		}
		.section-first-fold .details-block .graphic-slides .swiper-pagination.swiper-pagination-custom .swiper-pagination-item.active,
		.section-first-fold .details-block .explaination-slides .swiper-slide.active {
			opacity: 1;
			z-index: 2;
		}


	.section-first-fold .details-block .explaination-slides {
		margin-left: -1rem;
		margin-right: -1rem;
		}

		.feature-explaination-block {
			padding: 0 1rem;
			overflow: auto;
			width: auto;
			font-size: 1rem;
		}
		.feature-explaination-block dt {
			font-size: 1.2em;
			line-height: 1.5;
			margin-bottom: 0.5em;
		}
		.feature-explaination-block dd {
			font-size: 0.8em;
			text-align: left;
		}
		.feature-explaination-block dd p {
			margin-left: 0;
			margin-right: 0;
			line-height: 1.5;
		}
		.feature-explaination-block.only-a-few-lines dd {
			text-align: center;
		}
		.feature-explaination-block.only-a-few-lines dd p {
			line-height: 2;
		}






	.section-first-fold h1 {
		top: 8%;
	}
	.section-first-fold .abstract-block {
		top: 16%;
	}
	.section-first-fold .details-block {
		top: 32%;
		bottom: 3rem;
	}

	.section-first-fold .details-block .swiper-container.graphic-slides {
		height: 15rem;
	}
	.section-first-fold .details-block .graphic-slides .swiper-pagination.swiper-pagination-custom,
	.section-first-fold .details-block .explaination-slides {
		top: 15rem;
	}
	.section-first-fold .details-block .graphic-slides .swiper-slide .icon {
		width: 7.5rem;
		height: 7.5rem;
		line-height: 7rem;
		font-size: 4rem;
	}

	@media only screen and (max-height: 830px) {
		.section-first-fold .details-block .swiper-container.graphic-slides {
			height: 10rem;
		}
		.section-first-fold .details-block .graphic-slides .swiper-pagination.swiper-pagination-custom,
		.section-first-fold .details-block .explaination-slides {
			top: 11rem;
		}
	}

	@media only screen and (max-height: 720px) {
		.section-first-fold .abstract-block {
			top: 19%;
		}
		.section-first-fold .abstract-block .features {
			visibility: hidden;
			height: 0;
		}
		.section-first-fold .details-block {
			/* top: 27%; */
			bottom: 1.5rem;
		}
		.section-first-fold .details-block .swiper-container.graphic-slides {
			height: 5rem;
		}
		.section-first-fold .details-block .graphic-slides .swiper-pagination.swiper-pagination-custom,
		.section-first-fold .details-block .explaination-slides {
			top: 6rem;
		}
		.section-first-fold .details-block .graphic-slides .swiper-slide .icon {
			width: 4.5rem;
			height: 4.5rem;
			line-height: 4.2rem;
			font-size: 2.7rem;
		}
	}



.section-business-rules > .content > article,
.section-risk           > .content > article {
	border-width: 1px;
	border-color: #cca25d;
	position: absolute;
	left: 8%;
	right: 8%;
	top: 0;
	bottom: 0;
	margin: 2rem;
	}
	.section-business-rules > .content > article .content-scrollable-block,
	.section-risk           > .content > article .content-scrollable-block {
		position: absolute;
		left: 0;
		right: 0;
		top: 6rem;
		bottom: 0;
		margin: 1rem;
	}

	@media only screen and (max-height: 720px) {
		.section-business-rules > .content > article h1,
		.section-risk           > .content > article h1 {
			margin-top: 1.5rem;
			margin-bottom: 1rem;
		}
		.section-business-rules > .content > article .content-scrollable-block,
		.section-risk           > .content > article .content-scrollable-block {
			top: 3rem;
		}
	}



.section-risk {
	}
	.page-chief-section.section-risk > .bg-set .bg {
		max-width: 1652px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-position: center bottom;
		background-image: url(../../images/pages/safety-control/page-section-risk-bg.png);
		background-size: contain;
	}

	ol.list-indices-in-labels.risk-list > li {
		padding-left: 2rem;
	}





.section-business-rules {
	}

	.section-business-rules > .content > article {
		margin: 0 0.5rem 0.5rem;
		border-color: transparent;
		bottom: 4rem; /* for app-footer */
	}

	.business-rules-content-block dl.qna {
		counter-reset: questionIndex;
		padding: 0 1rem;
		font-size: 1rem;
	}

	.business-rules-content-block dl.qna > dd,
	.business-rules-content-block dl.qna > dt {
		padding-left: 2rem;
	}
	.business-rules-content-block dl.qna > dt {
		counter-increment: questionIndex;
		font-size: 0.9em;
		font-weight: 300;
		line-height: 2;

		color: #cca25d;
	}
	.business-rules-content-block dl.qna > dt > .label {
	}
	.business-rules-content-block dl.qna > dt > .label,
	.business-rules-content-block dl.qna > dt:before {
		content: counter(questionIndex) '、';
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.5;
	}

	.business-rules-content-block dl.qna > dd {
		font-size: 0.8rem;
		color: #2f3133;
		margin-bottom: 1.8em;
		line-height: 1.5;
	}

	.business-rules-content-block dl.qna > dd:before {
		content: '答：';
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.5;
	}

	@media only screen and (max-height: 720px) {
		.section-business-rules > .content > article {
			bottom: 2.5rem; /* for app-footer */
		}
	}
