.company-logo {
	display: inline-block;
	background-repeat: no-repeat;
	/* background-image: url(../../images/company-brand/shiji-logo-gold-bg-transparent.png); */
	background-image: url(../../images/company-brand/dtfunds-logo-gold-bg-transparent-large-cropped.png);
}

.qrcode .qrcode-image {
	width: 100%;
	height: 100%;
	margin: 0;
	}
	.qrcode-for-app-downloading {
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../../images/company-brand/shiji-qrcode-app-downloading.png);
	}

.illustrate .casts-shadow,
.illustrate.casts-shadow {
	box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.23);
}


.row {
	padding-left: 20px;
	padding-right: 20px;
	}

	.width-wrap {
		max-width: 1280px;
		min-width: 728px;
	}


#app-header {
	position: relative;
	z-index: 9;
}

#app-footer {
	position: relative;
	z-index: 8;
}

#app-body {
	position: relative;
	z-index: 1;
}

#app-body {
	display: block;
}


#app-header {
	box-sizing: border-box;
	border-width: 0 0 1px 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transition-property: background-color, box-shadow;
	        transition-property: background-color, box-shadow;
	    -ms-transition-property: background-color, box-shadow;
	-webkit-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	    -ms-transition-duration: 0.3s;
	}

	#app-header {
		height: 2.3rem;
	}
	.page-chief-section > .content {
		top: 2.3rem;
	}

	.page-chief-section > .content *,
	.page-chief-section > .content {
		-webkit-transition-property: background, width, height, max-width, min-width, max-height, min-height, color, opacity, visibility, transform, margin, padding, border-radius;
		        transition-property: background, width, height, max-width, min-width, max-height, min-height, color, opacity, visibility, transform, margin, padding, border-radius;
		-webkit-transition-duration: 0.3s;
		        transition-duration: 0.3s;
		    -ms-transition-duration: 0.3s;

	}


	#app-header .app-header-bar {
		position: static;
		height: 100%;
	}

	#app-header .app-header-bar > .width-wrap {
		height: 100%;
	}

	#app-header .app-header-bar .company-logo-block {
		width: 6rem;
		height: 100%;
	}
	#app-header .app-header-bar .company-logo-block .company-logo {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		height: 1.5rem;
		background-size: contain;
		background-position: left;
	}
	#app-header .app-header-bar .app-chief-nav-block {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}


#app-chief-nav {
	margin: 0;
	padding: 0;
	height: 100%;
	}

	#app-chief-nav .menu.level-1 {
		height: 100%;
		margin-right: -0.6rem;
		}

		@media only screen and (max-width: 1280px) {
			#app-chief-nav .menu.level-1 {
				margin-right: 0rem;
			}
		}


		#app-chief-nav .menu.level-1 > .menu-item {
			max-width: none;
			margin: 0 0.6rem;
			padding: 0;
		}
		#app-chief-nav .menu.level-1 > .menu-item > a > .label,
		#app-chief-nav .menu.level-1 > .menu-item     > .label {
			padding: 0 2rem;
		}
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > a > .sub-menu-hint,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu     > .sub-menu-hint,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > a > .label:before,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu     > .label:before,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > a > .label:after,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu     > .label:after {
			right: 0.5rem;
		}


	#app-chief-nav .menu-wrap.level-2 {
		left: 0;
		top: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		}
		#app-chief-nav .menu.level-2 {
			box-sizing: border-box;
			padding: 0;
			border-width: 1px;
			border-style: solid;
		}

		#app-chief-nav .menu.level-2 > .menu-item {
			margin: 0;
			line-height: 2.3rem;
			text-align: center;
		}
		#app-chief-nav .menu.level-2 > .menu-item > a > .label,
		#app-chief-nav .menu.level-2 > .menu-item     > .label {
			padding: 0 0.5rem;
			vertical-align: top;
			text-indent: -2px;
		}


.swiper-container.page-chief-sections {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	}

	.swiper-container.page-chief-sections .swiper-pagination-bullet {
		position: relative;
		width: 1rem;
		height: 1rem;
		opacity: 1;
		}
		.swiper-container.page-chief-sections.swiper-container-vertical > .swiper-pagination-bullets {
			/* right: 5rem; */
			right: 5%;
		}
		.swiper-container.page-chief-sections.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
			margin: 0.1rem 0;
		}
		.swiper-container.page-chief-sections .swiper-pagination-bullet:before {
			content: '';
			display: block;
			width: 0.4rem;
			height: 0.4rem;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			border-radius: inherit;

			-webkit-transform: scale(0.5, 0.5);
			        transform: scale(0.5, 0.5);
			    -ms-transform: scale(0.5, 0.5);

			-webkit-transition-property: -webkit-transform, background-color, box-shadow;
			        transition-property:         transform, background-color, box-shadow;
			    -ms-transition-property:     -ms-transform, background-color, box-shadow;
			-webkit-transition-duration: 0.3s;
			        transition-duration: 0.3s;
			    -ms-transition-duration: 0.3s;
		}
		.swiper-container.page-chief-sections .swiper-pagination-bullet:hover:before {
			-webkit-transform: scale(1, 1);
			        transform: scale(1, 1);
			    -ms-transform: scale(1, 1);
		}
		.swiper-container.page-chief-sections .swiper-pagination-bullet.swiper-pagination-bullet-active {
			cursor: default;
		}
		.swiper-container.page-chief-sections .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
			-webkit-transform: scale(1, 1);
			        transform: scale(1, 1);
			    -ms-transform: scale(1, 1);
		}
		.swiper-container.page-chief-sections .swiper-pagination-bullet.swiper-pagination-bullet-active:hover:before {
			/* -webkit-transform: scale(1, 1) rotateY(180deg);
			        transform: scale(1, 1) rotateY(180deg);
			    -ms-transform: scale(1, 1) rotateY(180deg); */
			-webkit-animation: swiper-active-bullet-spinning 1s infinite linear;
			        animation: swiper-active-bullet-spinning 1s infinite linear;
			    -ms-animation: swiper-active-bullet-spinning 1s infinite linear;
		}

		@-webkit-keyframes swiper-active-bullet-spinning {
			0% { -webkit-transform: scale(1, 1) rotateY(  0deg); }
			to { -webkit-transform: scale(1, 1) rotateY(360deg); }
		}
		@keyframes swiper-active-bullet-spinning {
			0% {         transform: scale(1, 1) rotateY(  0deg); }
			to {         transform: scale(1, 1) rotateY(360deg); }
		}


.page-chief-section {
	}

	.page-chief-section > .bg-set {
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		overflow: hidden; /* for masking expanded bgs */
	}

	.page-chief-section .illustrate .tip {
		font-weight: 200;
	}

	.page-chief-section > .bg-set .row {
		height: 100%;
	}

	.page-chief-section > .bg-set .width-wrap {
		height: 100%;
	}


	.page-chief-section > .bg-set    .row,
	.page-chief-section > .content > .row {
		position: absolute;
		left: 8%;
		right: 8%;
		margin: auto;
		}
		.page-chief-section > .bg-set         .width-wrap,
		.page-chief-section > .content > .row .width-wrap {
			min-width: 574px;
			height: 100%;
		}
		.page-chief-section > .content > .row.illustrate-block {
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 0;
		}
		.page-chief-section > .content > .row.illustrate-block .width-wrap {
			height: 100%;
			max-width: none;
		}
	.page-chief-section > .content {
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding: 2rem;
		z-index: 5;
	}

	.page-chief-section > .bg-set .bg-tint {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		-webkit-transition-property: none;
		        transition-property: none;
		    -ms-transition-property: none;
		-webkit-transition-duration: 0;
		        transition-duration: 0;
		    -ms-transition-duration: 0;

	    opacity: 1;
	}
	.page-chief-section > .bg-set .bg-tint.fading-out-on-show {
	    opacity: 0;
	}
	.page-chief-section > .bg-set .bg-tint.fading-in {
		-webkit-animation: fades-in 4s backwards;
		        animation: fades-in 4s backwards;
		    -ms-animation: fades-in 4s backwards;
	}
	.page-chief-section > .bg-set .bg-tint.fading-out {
		-webkit-animation: fades-out 4s backwards;
		        animation: fades-out 4s backwards;
		    -ms-animation: fades-out 4s backwards;
	}

	.page-chief-section > .content .animation {
		-webkit-transition-property: -webkit-transform, background-color, opacity, box-shadow;
		        transition-property:         transform, background-color, opacity, box-shadow;
		    -ms-transition-property:     -ms-transform, background-color, opacity, box-shadow;
		-webkit-transition-duration: 0.3s;
		        transition-duration: 0.3s;
		    -ms-transition-duration: 0.3s;
	}

	.page-chief-section > .bg-set .bg {
		z-index: 1;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		-webkit-transition-property: none;
		        transition-property: none;
		    -ms-transition-property: none;
		-webkit-transition-duration: 0;
		        transition-duration: 0;
		    -ms-transition-duration: 0;

		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
		    -ms-transform: scale(1, 1);
	}
	.page-chief-section > .bg-set .bg.start-to-show {
		z-index: 2;
		-webkit-animation: bg-shows-up 5s -1s backwards ease-out;
		        animation: bg-shows-up 5s -1s backwards ease-out;
		    -ms-animation: bg-shows-up 5s -1s backwards ease-out;
	}
	@-webkit-keyframes bg-shows-up {
		  0% { -webkit-transform: scale(1.12, 1.12); }
		 20% { opacity: 0; }
		 30% { opacity: 1; }
		100% { -webkit-transform: scale(1, 1); }
	}
	@keyframes bg-shows-up {
		  0% {         transform: scale(1.12, 1.12); }
		 20% { opacity: 0; }
		 30% { opacity: 1; }
		100% {         transform: scale(1, 1); }
	}



.section-contacts {
	}

	.section-contacts > .content {
		text-align: center;
	}

	.section-contacts > .content .links-block,
	.section-contacts > .content .copyright-block {
		font-size: 0.7rem;
		font-weight: 200;
	}

	.section-contacts > .content .row.info-block {
		top: 10%;
	}
	.section-contacts > .content .row.call-to-action-qrcode-block {
		top: 37%;
		height: 30%;
		max-height: 200px;
		z-index: 3;
	}
	.section-contacts > .content .row.links-block {
		bottom: 13%;
		left: 0;
		right: 0;
	}
	.section-contacts > .content .row.copyright-block {
		bottom: 9%;
	}

	.section-contacts > .content .brand,
	.section-contacts > .content .subtitle {
		margin: 1.8rem auto;
	}

	.section-contacts > .content .brand {
		position: relative;
		width: 70%;
		max-width: 25rem;
		height: 2.1rem;
		overflow: hidden;
		white-space: nowrap;
		text-indent: 4000px;
		/* margin: 0 auto; */

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		}


	.section-contacts > .content .subtitle {
		font-size: 1.7rem;
		font-weight: 200;
	}
	.section-contacts > .content .subtitle span {
		display: inline-block;
	}


	.section-contacts > .content .row.call-to-action-qrcode-block .qrcode {
		position: absolute;
		left: 0;
		right: 0;
		width: 7rem;
		height: 7rem;
		margin: 0 auto 2.25rem;

		top: 0;
	}
	.section-contacts > .content .row.call-to-action-qrcode-block .figcaption {
		position: absolute;
		left: 0;
		right: 0;
		font-size: 1.3rem;
		font-weight: 200;

		bottom: 0;
	}

	.section-contacts > .content .row.links-block h3 {
		margin: 0.7rem auto;
	}

	.section-contacts > .content .row.links-block .f-list.links > li {
		display: inline-block;
		margin: 0.3rem 0.6rem; 
	}

	.section-contacts > .content .row.links-block .f-list.links > li a {
		display: inline-block;
		padding: 0.2em 0.5em;
		margin: -0.2em -0.25rem;
		text-decoration: none;
		color: inherit;
	}

	@media only screen and (max-height: 720px) {
		.section-contacts > .content .row.info-block {
			top: 6%;
		}
		.section-contacts > .content .row.info-block .subtitle {
			width: 0;
			height: 0;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
		}		
		.section-contacts > .content .row.call-to-action-qrcode-block {
			top: 30%;
		}		
		.section-contacts > .content .row.call-to-action-qrcode-block .figcaption {
			width: 0;
			height: 0;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
		}		
		.section-contacts > .content .row.links-block {
			bottom: 12%;
		}
		.section-contacts > .content .row.copyright-block {
			bottom: 6%;
		}
	}
