.row {
	padding-left: 20px;
	padding-right: 20px;
}

.width-wrap {
	max-width: 1280px;
	min-width: 1280px;
}


#app-header {
	position: relative;
	z-index: 9;
}

#app-footer {
	position: relative;
	z-index: 8;
}

#app-body {
	position: relative;
	z-index: 1;
}

#app-body {
	display: block;
}


#app-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
	-webkit-transition-property: background-color, box-shadow;
	        transition-property: background-color, box-shadow;
	    -ms-transition-property: background-color, box-shadow;
	-webkit-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	    -ms-transition-duration: 0.3s;
	}

	#app-header {
		height: 2.25rem;
	}
	.page-chief-section > .content {
		top: 2.25rem;
	}

	#app-header .app-header-bar {
		position: static;
		height: 100%;
	}

	#app-header .app-header-bar > .width-wrap {
		height: 100%;
	}

	#app-header .app-header-bar .company-logo-block {
		width: 100%;
		height: 100%;
	}
	#app-header .app-header-bar .app-chief-nav-block {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}

	#app-header.use-theme-for-first-fold {
		background-color: transparent;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0);
	}


#app-chief-nav {
	margin: 0;
	padding: 0;
	height: 100%;
	}

	#app-chief-nav .menu.level-1 {
		height: 100%;
		margin-right: -0.6rem;
		background-color: transparent;
		}
		#app-chief-nav .menu.level-1 > .menu-item {
			max-width: none;
			margin: 0 0.6rem;
			padding: 0;
		}
		#app-chief-nav .menu.level-1 > .menu-item > a > .label,
		#app-chief-nav .menu.level-1 > .menu-item     > .label {
			padding: 0 2rem;
		}
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > a > .sub-menu-hint,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu     > .sub-menu-hint,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > a > .label:before,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu     > .label:before,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > a > .label:after,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu     > .label:after {
			right: 0.5rem;
		}


	#app-chief-nav .menu-wrap.level-2 {
		left: 0;
		top: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		}
		#app-chief-nav .menu.level-2 {
			box-sizing: border-box;
			padding: 0;
			border-width: 1px;
			border-style: solid;
			/* border-color: #cca25d; */
			border-color: rgba(204, 162, 93, 0.35);

			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.147);
			/* box-shadow: 0 0 8px 0 #cca25d; */
		}

		#app-chief-nav .menu.level-2 > .menu-item {
			margin: 0;
			line-height: 2.25rem;
			text-align: center;
			border-color: #cca25d;
		}
		#app-chief-nav .menu.level-2 > .menu-item:hover {
			background-color: #cca25d;
			/* background-color: rgba(204, 162, 93, 0.35); */
		}
		#app-chief-nav .menu.level-2 > .menu-item > a > .label,
		#app-chief-nav .menu.level-2 > .menu-item     > .label {
			padding: 0 0.5rem;
			color: black;
			vertical-align: top;
			text-indent: -2px;
		}


	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item > a > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item     > .label {
		color: #cca25d;
	}
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item > a > .label:hover,
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item     > .label:hover,
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item.coupled-shown  > a > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item.coupled-shown      > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item.current-parent > a > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item.current-parent     > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item.current        > a > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-1 > .menu-item.current            > .label {
		color: white;
	}

	.use-theme-for-first-fold #app-chief-nav .menu.level-2 {
		background-color: transparent;
	}

	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item:hover {
		background-color: transparent;
	}

	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item > a > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item     > .label {
		color: #cca25d;
	}

	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item > a > .label:hover,
	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item     > .label:hover,
	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item.coupled-shown  > a > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item.coupled-shown      > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item.current-parent > a > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item.current-parent     > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item.current        > a > .label,
	.use-theme-for-first-fold #app-chief-nav .menu.level-2 > .menu-item.current            > .label {
		color: white;
		background-color: rgba(204, 162, 93, 0.35);
	}


.swiper-container.page-chief-sections {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	}

	.swiper-container.page-chief-sections .swiper-pagination-bullet {
		position: relative;
		width: 1rem;
		height: 1rem;
		opacity: 1;
		}
		.swiper-container.page-chief-sections.swiper-container-vertical > .swiper-pagination-bullets {
			/* right: 5rem; */
			right: 5%;
		}
		.swiper-container.page-chief-sections.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
			background-color: transparent;
			margin: 0.1rem 0;
		}
		.swiper-container.page-chief-sections .swiper-pagination-bullet:before {
			content: '';
			display: block;
			width: 0.4rem;
			height: 0.4rem;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			border-radius: inherit;

			-webkit-transform: scale(0.5, 0.5);
			        transform: scale(0.5, 0.5);
			    -ms-transform: scale(0.5, 0.5);
			background-color: #757575;
			background-color: #cca25d;
			box-shadow: 0 0 0 0 transparent;

			-webkit-transition-property: -webkit-transform, background-color, box-shadow;
			        transition-property:         transform, background-color, box-shadow;
			    -ms-transition-property:     -ms-transform, background-color, box-shadow;
			-webkit-transition-duration: 0.3s;
			        transition-duration: 0.3s;
			    -ms-transition-duration: 0.3s;
		}
		.swiper-container.page-chief-sections .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
			-webkit-transform: scale(1, 1);
			        transform: scale(1, 1);
			    -ms-transform: scale(1, 1);
			background: transparent;
			box-shadow: 0 0 0 2px #cca25d;
		}


.page-chief-section {
	}

	.page-chief-section > .bg-set {
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.page-chief-section > .content {
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.page-chief-section > .bg-set .bg-tint {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.5);
		-webkit-transition-property: none;
		        transition-property: none;
		    -ms-transition-property: none;
		-webkit-transition-duration: 0;
		        transition-duration: 0;
		    -ms-transition-duration: 0;

		-webkit-animation: fades-in 5s backwards;
		        animation: fades-in 5s backwards;
		    -ms-animation: fades-in 5s backwards;
	}

	.page-chief-section > .content .animation {
		-webkit-transition-property: -webkit-transform, background-color, opacity, box-shadow;
		        transition-property:         transform, background-color, opacity, box-shadow;
		    -ms-transition-property:     -ms-transform, background-color, opacity, box-shadow;
		-webkit-transition-duration: 0.3s;
		        transition-duration: 0.3s;
		    -ms-transition-duration: 0.3s;
	}

	.page-chief-section.section-first-fold > .bg-set .bg {
		z-index: 1;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		-webkit-transition-property: none;
		        transition-property: none;
		    -ms-transition-property: none;
		-webkit-transition-duration: 0;
		        transition-duration: 0;
		    -ms-transition-duration: 0;

		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
		    -ms-transform: scale(1, 1);
	}
	.page-chief-section.section-first-fold > .bg-set .bg.start-to-show {
		z-index: 2;
		-webkit-animation: bg-shows-up 10s -2s backwards ease-out;
		        animation: bg-shows-up 10s -2s backwards ease-out;
		    -ms-animation: bg-shows-up 10s -2s backwards ease-out;
	}
	@-webkit-keyframes bg-shows-up {
		  0% { -webkit-transform: scale(1.06, 1.06); }
		 20% { opacity: 0; }
		 30% { opacity: 1; }
		100% { -webkit-transform: scale(1, 1); }
	}
	@keyframes bg-shows-up {
		  0% {         transform: scale(1.06, 1.06); }
		 20% { opacity: 0; }
		 30% { opacity: 1; }
		100% {         transform: scale(1, 1); }
	}


